@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}
nav li{
    list-style-type: none;
}

#maincontainer {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 4.5vw);
    grid-template-rows: repeat(7, 4.5vw);
    background-color: black;
    padding: 10px;
}

#space {
    grid-column-start: 1;
    grid-column-end: 5;
}

#inputarea {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0px;
}

#box1 {
    width: 93%;
    height: 100%;
    font-size: 3vw;
    color: white;
    background-color: black;
    border: 0px;
    outline: 0px;
    text-align: right;
}

::placeholder {
    color: white;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}


button {
    width: 95%;
    height: 87%;
    border-radius: 50px;
    border: 0px solid;
    color: white;
    background-color: rgb(51, 50, 50);
    cursor: pointer;
    margin-top: 8px;
    font-size: 1.5vw;
    outline: 0px;
}

button:active {
    background-color: rgb(125, 122, 122);
}

#sum:active {
    background-color: rgb(237, 237, 237);
}

#sub:active {
    background-color: rgb(237, 237, 237);
}

#mult:active {
    background-color: rgb(237, 237, 237);
}

#divi:active {
    background-color: rgb(237, 237, 237);
}

#equal:active {
    background-color: rgb(237, 237, 237);
}

#sum {
    background-color: orange;
}

#sub {
    background-color: orange;
}

#mult {
    background-color: orange;
}

#divi {
    background-color: orange;
}

#equal {
    background-color: orange;
}

@media screen and (max-width: 1200px) {
    #box1 {
        font-size: 6vw;
    }

    button {
        font-size: 4.5vw;
    }

    #grid-container {

        grid-template-columns: repeat(4, 10vw);
        grid-template-rows: repeat(7, 10vw);
    }
}

@media screen and (max-width: 992px) {
    #box1 {
        font-size: 6vw;
    }

    button {
        font-size: 4.5vw;
    }

    #grid-container {

        grid-template-columns: repeat(4, 12vw);
        grid-template-rows: repeat(7, 12vw);
    }
}

@media screen and (max-width: 768px) {
    #box1 {
        font-size: 6vw;
    }

    button {
        font-size: 4.5vw;
    }

    #grid-container {

        grid-template-columns: repeat(4, 14vw);
        grid-template-rows: repeat(7, 14vw);
    }
}


@media screen and (max-width: 600px) {
    #box1 {
        font-size: 10vw;
    }

    button {
        font-size: 4.5vw;
    }

    #grid-container {

        grid-template-columns: repeat(4, 16vw);
        grid-template-rows: repeat(7, 16vw);
    }
}


